<section class="block container domain-block">
    <header class="block__header">
        <h2>Starting at $9 per month</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, facere</p>
        <div class="input-group">
            <input type="text" class="input" placeholder="Enter domain name here...">
            <button class="button button--accent"><svg class="icon button__icon-button">
                <use xlink:href="Images/sprite.svg#search"></use>
              </svg> Search</button>
        </div>
    </header>
    <ul class="list block-domain__prices">
        <li class="domain-list__item badges">.com $9</li>
        <li class="domain-list__item badges">.net $9</li>
        <li class="domain-list__item badges">.io $12</li>
        <li class="domain-list__item badges">.org $16</li>
        <li class="domain-list__item badges">.en-us $10</li>
        <li class="domain-list__item badges">.name $4</li>
    </ul>
</section>