<section class="container block-feature">
    <h2 class="feature__heading">Host On The Cloud to Keep Growing</h2>
    <p class="feature__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel.</p>
    <div class="block-feature">
        <div class="feature grid grid--cols-2">
            <div class="text-section feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="Images/sprite.svg#easy"></use>
                    </svg>
                </span>
                <h3 class="sub-heading">Super Easy to Use.</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident nisi ut qui delectus dignissimos molestiae debitis quasi corporis, consequatur error nulla sequi ducimus earum, assumenda totam aliquid pariatur, reiciendis accusamus eveniet repudiandae numquam aut impedit tenetur doloremque! Unde, excepturi obcaecati nam eveniet ut maxime id quidem doloribus sequi laboriosam qui!</p>
                <a class="link-arrow">LEARN MORE</a>
            </div>
            <img class="feature__image" src="Images/easy.jpg" alt="" >
        </div>
        <div class="feature grid grid--cols-2">
            <div class="text-section feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="Images/sprite.svg#computer"></use>
                    </svg>
                </span>
                <h3 class="sub-heading">Simply Fast Websites</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident nisi ut qui delectus dignissimos molestiae debitis quasi corporis, consequatur error nulla sequi ducimus earum, assumenda totam aliquid pariatur, reiciendis accusamus eveniet repudiandae numquam aut impedit tenetur doloremque! Unde, excepturi obcaecati nam eveniet ut maxime id quidem doloribus sequi laboriosam qui!</p>
                <a class="link-arrow">LEARN MORE</a>
            </div>
            <img class="feature__image" src="Images/fast.jpg" alt="" >
        </div>
        <div class="feature grid grid--cols-2">
            <div class="text-section feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="Images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
                <h3 class="sub-heading">Wordpress Made Easy</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident nisi ut qui delectus dignissimos molestiae debitis quasi corporis, consequatur error nulla sequi ducimus earum, assumenda totam aliquid pariatur, reiciendis accusamus eveniet repudiandae numquam aut impedit tenetur doloremque! Unde, excepturi obcaecati nam eveniet ut maxime id quidem doloribus sequi laboriosam qui!</p>
                <a class="link-arrow">LEARN MORE</a>
            </div>
            <img class="feature__image" src="Images/wordpress.jpg" alt="" >
        </div>
    </div>
</section>