<footer>
    <div class="footer footer-dark">
        <section class="block grid grid--cols-5 footer-container">
            <div class="desktop-logo">
                <img src="Images/logo.svg" alt="">
                <p class="text-grey copyright">Copyright &copy; 2020 Moshify</p>
            </div>
            <div class="collapsible collapsible--expanded">
                <header class="collapsible__header">
                    <h2 class="collapsible__heading text-white">products</h2>
                    <svg class="icon icon--white collapsible__chevron">
                        <use xlink:href="Images/sprite.svg#chevron"></use>
                    </svg>
                </header>
                <div class="collapsible__content text-grey">
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                </div>
            </div>
            <div class="collapsible collapsible--expanded">
                <header class="collapsible__header">
                    <h2 class="collapsible__heading text-white">company</h2>
                    <svg class="icon icon--white collapsible__chevron">
                        <use xlink:href="Images/sprite.svg#chevron"></use>
                    </svg>
                </header>
                <div class="collapsible__content text-grey">
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                </div>
            </div>
            <div class="collapsible collapsible--expanded">
                <header class="collapsible__header">
                    <h2 class="collapsible__heading text-white">support</h2>
                    <svg class="icon icon--white collapsible__chevron">
                        <use xlink:href="Images/sprite.svg#chevron"></use>
                    </svg>
                </header>
                <div class="collapsible__content text-grey">
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                </div>
            </div>
            <div class="collapsible collapsible--expanded">
                <header class="collapsible__header">
                    <h2 class="collapsible__heading text-white">domains</h2>
                    <svg class="icon icon--white collapsible__chevron">
                        <use xlink:href="Images/sprite.svg#chevron"></use>
                    </svg>
                </header>
                <div class="collapsible__content text-grey">
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                    <a class="text-grey footer__item" href="#">WordPress Hosting</a>
                </div>
            </div>
            <div class="mobile-logo">
                <img class="mobile-logo__image" src="Images/logo.svg" alt="">
                <p class="text-grey copyright">Copyright &copy; 2020 Moshify</p>
            </div>
        </section>
    </div>
</footer>