<section class="grid grid--cols-3 container plan-section">
    <div class=" card card--secondary">
        <header class=" card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badges badges--primary badge--small">10% off</span>
            <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
            <ul class="list list--tick">
                <li class="list__item">Itm 1</li>
                <li class="list__item">Itm 2</li>
                <li class="list__item">Itm 3</li>
            </ul>
            <button class="button button-outline button--stretched button--block">Buy now</button>
        </div>
    </div >
    <div class=" card card--primary plan-popular">
        <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badges badges--secondary  badge--small">10% off</span>
            <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
            <ul class="list list--tick">
                <li class="list__item">Itm 1</li>
                <li class="list__item">Itm 2</li>
                <li class="list__item">Itm 3</li>
            </ul>
            <button class="button button-outline button--stretched button--block">Buy now</button>
        </div>
    </div>
    <div class=" card card--secondary">
        <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badges badges--primary badge--small">10% off</span>
            <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
            <ul class="list list--tick">
                <li class="list__item">Itm 1</li>
                <li class="list__item">Itm 2</li>
                <li class="list__item">Itm 3</li>
            </ul>
            <button class="button button-outline button--stretched button--block">Buy now</button>
        </div>
    </div>
</section>