<section class="block block--dark block--skewed-right block-showcase">
    <header>
        <h2 class="showcase__heading">User Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--cols-2">
        <img class="showcase__image" src="Images/ipad.png" >            
            <ul class="list showcase__content">
                <li>
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="Images/sprite.svg#snap"></use>
                              </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">Easy Start and Manage Updates</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quaerat animi hic corrupti, exercitationem asperiores numquam impedit optio adipisci laudantium culpa voluptates quos, libero, voluptatibus sint sunt aliquam aut consectetur.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="Images/sprite.svg#snap"></use>
                              </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">Easy Start and Manage Updates</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quaerat animi hic corrupti, exercitationem asperiores numquam impedit optio adipisci laudantium culpa voluptates quos, libero, voluptatibus sint sunt aliquam aut consectetur.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="Images/sprite.svg#snap"></use>
                              </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">Easy Start and Manage Updates</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quaerat animi hic corrupti, exercitationem asperiores numquam impedit optio adipisci laudantium culpa voluptates quos, libero, voluptatibus sint sunt aliquam aut consectetur.</p>
                        </div>
                    </div>
                </li>
            </ul>            
    </div>
</section>