<section class="block">
    <header>
        <h2 class="block__header">What Our Cutomers Are Saying</h2>
        <p class="block__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores animi alias similique quisquam fugiat?</p>
    </header>
    <div class="card testimonial">
        <div class="grid grid--cols-2">
            <div class="testimonial__image">
                <img src="Images/testimonial.jpg" alt="Picture of John Smith"/>
                <div class="icon-container icon-container--accent">
                    <svg class="icon--small icon--white">
                        <use xlink:href="Images/sprite.svg#quotes"></use>
                      </svg>
                </div>
            </div>
            <blockquote class="quotes">
                <p class="quote__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus deserunt voluptates et aspernatur cumque vitae!</p>
                <footer>
                    <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="Images/sprite.svg#line"></use>
                          </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title quote__author">John Smith</h3>
                        <p class="quote__company">ABC Company</p>
                    </div>
                </div> 
                </footer>
            </blockquote>
        </div>
    </div>
</section>